<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <link href="/static/home.css" rel="stylesheet">
  <link rel="icon" href="data:,">
</head>
<body style="background-color: green;">

<nav class="topnav">
  <a href="#home" class="active">Home</a>
  <a href="#tour">Tour</a>
  <a href="#contact">Contact</a>
  <!-- <a href="/api">Developer Portal</a> -->
</nav>

  <div class="hero-text">
    <h1 style="font-size:50px">Octank Travel</h1>
    <p>Best travel deals and air tickets</p>
    <button>Book Today</button>
  </div>

</body>
</html>
